@{
	ViewBag.Title = "Welcome";
}

<!DOCTYPE html>
<html>
<head>
	<title>Авторизация</title>
</head>
<body>
	<center>
		<form action="Putme.cs">
			<p><b>Выполните вход в систему</b></p>
			<p>login<Br><input name="login" type="text"></p>
			<p>password<Br><input name="password" type="password"></p>
			<p><input type="submit" value="Вход"></p>
		</form>
	</center>

</body>
</html>
